/////////////////////////////////
/// LOGO
.logo {
  height: 3.25rem;
  margin-left: 2rem;

  @media only screen and (max-width: $bp-smallest) {
    justify-self: center;
    height: 2.75rem;
  }
}

/////////////////////////////////
/// SEARCH
.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    order: 1;
    flex: 0 0 98%;
  }

  &__input {
    width: 90%;
    background-color: var(--color-grey-light-2);
    border-radius: 100px;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin-right: -3.25rem;
    outline: none;
    padding: 0.7rem 2rem;
    transition: all 0.2s;

    &:focus {
      width: 100%;
      // transform: scaleX(1.1);
      background-color: var(--color-grey-light-3);
    }
  }

  &__button {
    background-color: transparent;
    border: none;
    outline: none;

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

/////////////////////////////////
/// USER NAVIGATION
.user-nav {
  align-self: stretch;
  display: flex;
  align-items: stretch;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    width: 2rem;
    height: 2rem;
    background-color: var(--color-primary);
    border-radius: 100%;
    color: #fff;

    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 100%;
    margin-right: 1rem;

    @media only screen and (max-width: $bp-smallest) {
      width: 3rem;
      height: 3rem;
    }
  }
}

/////////////////////////////////
/// SIDEBAR
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media screen and (max-width: $bp-medium) {
    margin: 0;
    display: flex;
  }

  &__item {
    position: relative;

    @media screen and (max-width: $bp-medium) {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @media screen and (max-width: $bp-medium) {
        margin-bottom: 0;
      }
    }

    &--active:before,
    &::before {
      content: "";
      width: 3px;
      height: 100%;
      background-color: var(--color-primary);

      position: absolute;
      top: 0;
      left: 0;

      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    }

    &--active:before,
    &:hover::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

  &__link {
    &:link,
    &:visited {
      color: var(--color-grey-light-1);
      text-decoration: none;
      text-transform: uppercase;

      display: flex;
      align-items: center;
      position: relative;
      z-index: 10;

      padding: 1.5rem 3rem;

      @media only screen and (max-width: $bp-smallest) {
        flex-direction: column;
        padding: 1rem 0;
      }

      @media only screen and (max-width: $bp-phone) {
        font-size: 1rem;
      }
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 2rem;

    @media only screen and (max-width: $bp-smallest) {
      margin-right: 0;
      margin-bottom: 0.7rem;
    }

    @media only screen and (max-width: $bp-phone) {
      width: 1.25rem;
      height: 1.25rem;
      margin-bottom: 0.4rem;
    }
  }
}

/////////////////////////////////
/// LEGAL
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  padding: 2.5rem;
  text-align: center;

  @media screen and (max-width: $bp-medium) {
    display: none;
  }
}

/////////////////////////////////
/// GALLERY
.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

/////////////////////////////////
/// HOTEL OVERVIEW
.overview {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: var(--line);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.7rem;
      padding: 1rem 1.5rem;
      white-space: nowrap;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);

    @media only screen and (max-width: $bp-smallest) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__location {
    display: flex;
    font-size: 1.2rem;

    @media only screen and (max-width: $bp-phone) {
      display: none;
    }
  }

  &__rating {
    background-color: var(--color-primary);
    color: #fff;
    padding: 0 2.25rem;
    margin-left: 3rem;

    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media only screen and (max-width: $bp-smallest) {
      padding: 0 1.5rem;
      margin-left: 1.5rem;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.5rem;
    }
  }

  &__rating-count {
    @media only screen and (max-width: $bp-smallest) {
      font-size: 0.8rem;
    }
    text-transform: uppercase;
  }
}

/////////////////////////////////
/// BUTTON INLINE
.btn-inline {
  background-color: transparent;
  font-size: inherit;
  color: var(--color-primary);
  border: none;
  outline: none;
  display: inline-block;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.2s;

  span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.detail {
  font-size: 1.4rem;
  display: flex;
  gap: 4.5rem;
  padding: 4.5rem;

  @media only screen and (max-width: $bp-large) {
    padding: 3rem;
    gap: 3rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    flex-direction: column;
  }

  @media only screen and (max-width: $bp-phone) {
    padding: 1.5rem;
  }
}

.description {
  flex: 0 0 60%;
  // margin-right: 4.5rem;
  padding: 3rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  line-height: 1.5;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
  }

  @media only screen and (max-width: $bp-phone) {
    padding: 1.5rem;
  }
}

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraph {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-phone) {
    font-size: 1.2rem;
  }

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;

    &::before {
      content: "";
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 0.7rem;
      display: inline-block;

      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover;

      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
        background-image: none;
      }

      @media only screen and (max-width: $bp-phone) {
        width: 1rem;
        height: 1rem;
        margin-right: 0.4rem;
      }
    }

    &:not(:last-child) {
      margin-bottom: 0.7rem;
    }
  }
}

.recommend {
  color: var(--color-grey-dark-3);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__friends {
    display: flex;
  }

  &__photo {
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: 3px solid #fff;

    &:not(:last-child) {
      margin-right: -2rem;

      @media only screen and (max-width: $bp-smallest) {
        margin-right: -1.5rem;
      }
    }

    @media only screen and (max-width: $bp-smallest) {
      width: 3rem;
      height: 3rem;
    }
  }
}

/////////////////////////////////
/// REVIEW
.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: $bp-medium) {
    padding: 2rem;
  }

  &::before {
    content: "\201C";
    font-size: 20rem;
    line-height: 1;
    position: absolute;
    top: -3.5rem;
    left: -0.5rem;
    color: var(--color-grey-light-2);
  }

  &:not(:last-child) {
    margin-bottom: 4.5rem;

    @media only screen and (max-width: $bp-large) {
      margin-bottom: 2.5rem;
    }
  }

  &__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 10;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    margin-right: 1.5rem;
  }

  &__user-name {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }

  &__rating {
    margin-left: auto;
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-primary);
  }
}

////////////////////////////////////
/// CTA SECTION
.cta {
  padding: 3.5rem 0;
  text-align: center;
  background-color: #fff;
  border-top: var(--line);

  @media only screen and (max-width: $bp-phone) {
    padding: 3rem 1rem;
  }

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.5rem;
    }

    @media only screen and (max-width: $bp-phone) {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }
}

.btn {
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  color: #fff;
  font-weight: 400;
  border-radius: 100px;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;

  position: relative;

  @media only screen and (max-width: $bp-phone) {
    font-size: 1.2rem;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
  }

  &__visible {
    transition: all 0.2s;
    padding: 2rem 7.5rem;

    @media only screen and (max-width: $bp-phone) {
      padding: 1.5rem 5rem;
    }
  }

  &__invisible {
    padding: 1.5rem;

    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    transition: all 0.2s;
  }

  &:hover &__invisible {
    top: 0;
  }

  &:hover &__visible {
    transform: translateY(100%);
  }
}
